/* Notes
Font sizes:
Raleway 300;400;500;600;800;100;400;700


*/

/* Universal Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Temporary Styles */
*,
html,
body {
  border: none;
}

div,
nav {
  border: 2px solid maroon;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  border: 2px solid teal;
}

/* End Temprary Styles */

/* Utilities */
.padded {
  padding: 5%;
}
.padded-1 {
  padding: 1rem;
}
.padded-05 {
  padding: 0.5rem;
}
.padded-2 {
  padding: 2rem;
}

.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}

.light-text {
  color: white;
}

/* Utilities */
body {
  font-family: "Raleway", sans-serif;
}

.logo {
  font-family: "Ephesis", cursive;
  font-size: 4rem;
}

img {
  max-width: 20%;
  display: inline-block;
}

.caption {
  font-family: "Ephesis", cursive;
  font-size: 1.5rem;
}

/* Gallery Photos */
.gallery [class*="col-"] {
  padding: 0.5%;
}
