/* Notes
    font-family: 'Dancing Script', cursive;
    font-weight: 400;500;600;700
    
    font-family: 'Zilla Slab', serif;
    font-weight:0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700

    background-color:#ECECC5
    background-color:#143E3C
    color:#29504E

*/

/* Universal Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Temporary Styles */
/* *,
html,
body {
  border: none;
}

div,
nav,
input,
textarea {
  border: 2px solid maroon;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  border: 2px solid teal;
} */

/* End Temprary Styles */

/*Universal Styles and Utilities*/
.padded {
  padding: 5%;
}
.padded-1 {
  padding: 1rem;
}
.padded-2 {
  padding: 2rem;
}

.padded-4 {
  padding: 4%;
}
.padded-t {
  padding-top: 5%;
}
.padded-b {
  padding-bottom: 5%;
}
.padded-l {
  padding-left: 3%;
}
.padded-r {
  padding-right: 3%;
}
.padded-g {
  padding: 0 5rem 0 5rem;
}
.padded-0 {
  padding: 0;
}
.padded-b-0 {
  padding-bottom: 0;
}
.margin-b-0 {
  margin-bottom: 0;
}

.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.light-text {
  color: white;
}

.tall-30 {
  min-height: 30vh;
}
.tall-50 {
  min-height: 50vh;
}
.tall-60 {
  min-height: 60vh;
}
.tall-70 {
  min-height: 70vh;
}
.tall-80 {
  min-height: 80vh;
}
.tall-90 {
  min-height: 90vh;
}
.tall-100 {
  min-height: 100vh;
}
img {
  max-width: 100%;
}
.logo-pic {
  max-width: 30%;
}

/*Typography Styles*/
body {
  font-family: "Zilla Slab", serif;
}

.logo {
  font-family: "Dancing Script", cursive;
  font-size: 8rem;
  font-weight: 700;
}

.caption {
  font-family: "Dancing Script", cursive;
  font-size: 1.7rem;
  font-weight: 600;
}

nav a {
  text-decoration: none;
  color: white;
  font-style: italic;
}

header a:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

a:hover {
  color: #c0b44d;
  cursor: pointer;
}

.message-send {
  padding-bottom: 5rem;
  text-align: left;
}

.creation {
  font-size: 2.1rem;
  font-style: italic;
  font-weight: 500;
  color: #380906;
  text-decoration: underline #380906;
}

.banner-text {
  color: white;
  font-style: italic;
  font-size: 1.5rem;
}

.image-gallery-text {
  color: black;
  font-style: italic;
  font-size: 1.5rem;
}

.arrow {
  padding: 0.5rem;
  text-decoration: none;
  color: inherit;
  font-weight: 600;
  font-size: 2rem;
}

.image-gallery-text .arrow:hover {
  color: #2f6974;
}

.social-text {
  color: white;
  font-style: italic;
  font-size: 1.8rem;
}

.fab {
  padding: 3%;
  font-size: 1.7rem;
  color: white;
}

a .fab:hover {
  color: #c0b44d;
  font-style: normal;
  cursor: pointer;
}

p {
  font-size: 1.3rem;
  color: #f8f6f4;
  line-height: 1.7rem;
  padding-bottom: 1.4rem;
}

p:last-child {
  padding-bottom: 0;
}

.gallery-header {
  font-size: 3rem;
  font-style: italic;
  color: #376168;
  text-decoration: underline;
}

.about-title {
  color: #ececc5;
  text-align: center;
  font-size: 2rem;
  padding-bottom: 1.5rem;
  font-style: italic;
}

[class*="col-"],
[class*="col_"],
[class~="col"] .about-heading {
  padding: 0;
}

h5 {
  font-size: 2.5rem;
  font-style: italic;
  line-height: 1.5;
}

/* Hamburger Menu */
.show-md {
  display: none;
}

.hamburger-button {
  cursor: pointer;
  color: #ececc5;
  display: inline-block;
  padding: 0 0.5rem;
  font-weight: 100;
  font-size: 2.5rem;
  line-height: 0.8;
  margin-top: -0.7rem;
  position: fixed;
  right: 1rem;
  top: 2.5rem;
  z-index: 2;
}

.mob-menu {
  display: none;
  background-color: #ececc5;
  padding: 5%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
}

.mob-menu a {
  text-decoration: none;
  font-weight: bold;
  color: #380906;
  padding: 5vh 5%;
  display: block;
  font: normal;
  font-size: 1.5rem;
}

.ham-menu a:hover {
  color: #376168;
}

.hamburger-button.active {
  color: #376168;
}

/*Background & Background Images*/

.bg-featured {
  background-color: #ececc5;
}
.bg-banner {
  background-color: #376168;
}
.bg-dark {
  background-color: #380906;
}
.bg-light {
  background-color: #f8f6f4;
}

.bg-image {
  background-color: rgb(240, 240, 240);
  background-image: url("/images/blue_smoke.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 10%;
  border: 5px solid #f8f6f4;
}

.bg-logo {
  background-image: url("/images/logo.jpg");
  border: 1px solid #376168;
}

.bg-header {
  background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/geometric-leaves.png");
}

.bg-art-1 {
  background-image: url("/images/art_1.jpg");
}
.bg-art-2 {
  background-image: url("/images/art_2.jpg");
}
.bg-art-3 {
  background-image: url("/images/art_3.jpg");
}
.bg-art-4 {
  background-image: url("/images/art_4.jpg");
}
.bg-art-5 {
  background-image: url("/images/art_5.jpg");
}
.bg-art-6 {
  background-image: url("/images/art_6.jpg");
}
.bg-art-7 {
  background-image: url("/images/art_7.jpg");
}
.bg-art-8 {
  background-image: url("/images/art_8.jpg");
}
.bg-art-9 {
  background-image: url("/images/art_9.jpg");
}
.bg-art-10 {
  background-image: url("/images/art_10.jpg");
}
.bg-art-11 {
  background-image: url("/images/art_11.jpg");
}

.bg-wreath-1 {
  background-image: url("/images/wreath_1.jpg");
}

.bg-wreath-2 {
  background-image: url("/images/wreath_3.jpg");
}

.bg-wreath-3 {
  background-image: url("/images/wreath_2.jpg");
}

.bg-wreath-4 {
  background-image: url("/images/wreath_4.jpg");
}

.bg-wreath-5 {
  background-image: url("/images/wreath_5.jpeg");
}

.bg-wreath-6 {
  background-image: url("/images/wreath_6.jpg");
}

.bg-tree-1 {
  background-image: url("/images/fairy_tree.jpg");
}

.bg-tree-2 {
  background-image: url("/images/auburn_tree.jpg");
}

.bg-tree-3 {
  background-image: url("/images/ice_tree.jpg");
}

.bg-tree-4 {
  background-image: url("/images/rainbow_tree.jpg");
}

.bg-tree-5 {
  background-image: url("/images/teal_tree.jpg");
}

.bg-tree-6 {
  background-image: url("/images/summer_tree.jpg");
}

.bg-tree-7 {
  background-image: url("/images/fire_tree.jpg");
}

.bg-portrait {
  background-image: url("/images/portrait.jpg");
  border: 1px solid #376168;
}

.window {
  max-width: 18vh;
  box-shadow: 0.5vw 0.4vw 0.7vw #c0b44d;
}

.about-logo {
  max-width: 30vh;
}

/**Aspect Ratios*/
.portrait-xl-tall {
  padding-bottom: 203%;
}
.portrait-tall {
  padding-bottom: 175%;
}
.portrait-md {
  padding-bottom: 141%;
}
.portrait {
  padding-bottom: 134%;
}
.square {
  padding-bottom: 100%;
}
.landscape-xl-wide {
  padding-bottom: 79%;
}
.landscape {
  padding-bottom: 66%;
}
.landscape-wide {
  padding-bottom: 56%;
}
.landscape-sm {
  padding-bottom: 30%;
}

/*Background Position*/
.bg-pos-t {
  background-position: top;
}
.bg-pos-b {
  background-position: bottom;
}
.bg-pos-r {
  background-position: right;
}
.bg-pos-l {
  background-position: left;
}

/* Header and Footer */
header a {
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
}

footer .caption {
  font-size: 4rem;
}

/* Gallery Photos */

.gallery-1 [class*="col-"] {
  padding: 0.5%;
}
.gallery [class*="col-"] {
  padding: 13rem;
}

/* Input Form */

.form-section {
  color: black;
  font-size: 1.2rem;
  border: 1.5px solid #380906;
  text-align: center;
}

input,
textarea {
  width: 100%;
  display: block;
  margin-bottom: 0.2rem;
  padding: 0.5rem;
  font-family: inherit;
  font-size: 0.9rem;
}

.button {
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
  font-size: 1.2rem;
  padding-top: 0.5rem;
  background-color: #f8f6f4;
  color: #380906;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
}

.button:hover {
  border-radius: 25%;
  -webkit-border-radius: 25%;
  -moz-border-radius: 25%;
  -ms-border-radius: 25%;
  -o-border-radius: 25%;
  background-color: #380906;
  color: #f8f6f4;
  cursor: pointer;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
}

/* General CSS Responsive Styles (Apply everywhere unless overridden) */

.show-xs,
.show-sm,
.show-md {
  display: none;
}

@media (max-width: 67.5em) and (orientation: landscape) {
  .portrait-xl-tall {
    padding-bottom: 51%;
  }
  .portrait-tall {
    padding-bottom: 56%;
  }
  .portrait-md {
    padding-bottom: 48%;
  }
  .portrait {
    padding-bottom: 35%;
  }
  .square {
    padding-bottom: 25%;
  }
  .hide-md-land {
    display: none;
  }
  .gallery [class*="col-"] {
    padding: 8rem;
  }
  .md-image {
    min-height: 40vh;
  }
  .md-padded-1 {
    padding: 1rem;
  }
  .md-padded-05 {
    padding: 0.5rem;
  }
}

/* ------- MD Media Query (64em / 1024px) --------------- */
/* - Styles added here will apply at devices smaller than 576px, or zoomed in equivalent */

@media (max-width: 64em) {
  .show-md {
    display: block;
  }
  .hide-md {
    display: none;
  }

  .md-image {
    min-height: 45vh;
  }

  .sm-image {
    min-height: 10vh;
  }

  /* Typography */

  .gallery-header {
    font-size: 2.5rem;
  }
  .logo {
    font-size: 5rem;
  }
  .creation {
    font-size: 1.4rem;
  }
  .banner-text,
  .image-gallery-text,
  .social-text {
    font-size: 1.2rem;
  }
  .arrow {
    font-size: 1.7rem;
  }
  .fab {
    font-size: 1.2rem;
  }
  footer .caption {
    font-size: 3rem;
    padding-bottom: 0.5rem;
  }

  .about-title {
    font-size: 1.8rem;
  }
  p {
    font-size: 1.1rem;
  }

  h5 {
    font-size: 1.5rem;
  }

  .form-section {
    font-size: 1.1rem;
  }

  /* Images */

  .bg-image {
    padding-bottom: 2rem;
    border: 3.5px solid #f8f6f4;
  }
  .gallery-1 [class*="col-"] {
    padding: 0.2rem;
  }
  .gallery [class*="col-"] {
    padding: 8rem;
    border-bottom: 0.5rem solid #f8f6f4;
  }
  .padded-g {
    padding: 2%;
  }
  .logo-pic {
    max-width: 40%;
  }
}
/* ------- SM Media Query (48em / 768px) --------------- */
/* - Styles added here will apply at devices smaller than 768px, or zoomed in equivalent */

@media (max-width: 48em) {
  .show-sm {
    display: block;
  }
  .hide-sm {
    display: none;
  }
  .md-image {
    min-height: 60vh;
  }
  .sm-text-center {
    text-align: center;
  }
  .sm-text-left {
    text-align: left;
  }
  .sm-text-right {
    text-align: right;
  }

  .sm-padded-1 {
    padding: 1rem;
  }
  .sm-padded-05 {
    padding: 0.5rem;
  }

  .sm-padded-t-0 {
    padding-top: 0;
  }
  .sm-padded-b-0 {
    padding-bottom: 0;
  }
  .sm-padded-l-0 {
    padding-left: 0;
  }
  .sm-padded-r-0 {
    padding-right: 0;
  }

  .sm-margin-t-0 {
    margin-top: 0;
  }
  .sm-margin-b-0 {
    margin-bottom: 0;
  }
  .sm-margin-l-0 {
    margin-left: 0;
  }
  .sm-margin-r-0 {
    margin-right: 0;
  }

  /* Small Screen Background Position*/
  .sm-bg-pos-t {
    background-position: top;
  }
  .sm-bg-pos-b {
    background-position: bottom;
  }
  .sm-bg-pos-r {
    background-position: right;
  }
  .sm-bg-pos-l {
    background-position: left;
  }

  /* Typography */
  .gallery-header {
    font-size: 1.9rem;
  }

  .window {
    max-width: 40%;
    border-radius: 73% 47%;
    -webkit-border-radius: 73% 47%;
    -moz-border-radius: 73% 47%;
    -ms-border-radius: 73% 47%;
    -o-border-radius: 73% 47%;
    box-shadow: 0.8vw 0.8vw 1vw #c0b44d;
  }
}

/* ------- XS Media Query (36em / 576px) --------------- */
/* - Styles added here will apply at devices smaller than 576px, or zoomed in equivalent */

@media (max-width: 36em) {
  .show-xs {
    display: block;
  }
  .hide-xs {
    display: none;
  }
}
